* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

#main {
    height: 32px;
    border-bottom: 1px solid #e6e6e6;
    width: 1200px;
    margin: 0 auto;

}

#main a:hover {
    color: #06c;
}

/* start menu */
.menu-all  li >  a {
text-decoration: none;
font-size: 12px;
color: black;
text-transform:uppercase;
    
}

.menu-all > li {
display: inline-block;
position: relative;
}

.menu-all > li > a {
    line-height: 32px;
    padding: 8px 3px;
}

.menu-all > li >a:hover {
border-bottom: 3px solid green;
}

.menu-list { 
    display: none;
    position: absolute;
    margin-top: 2px;
    min-width: 240px;
}

.menu-list li {
    list-style: none;
    
}

.menu-list a {
    line-height: 32px;
    padding-left: 12px;
    
}

.menu-list li a:hover {
    color: #06c;
}

.menu-all > li:hover .menu-list  {
    display: block;
    background: #e6e6e6 none; 
    border-radius: 5px;
}

/* end menu */

#slide {
    margin-top: 18px;
    float: left;
    border-bottom: 1px solid grey;
    height: 1020px;
}

.slide-item-1 {
    width: 280px;
    float: left;
}

.slide-item-1 img{
    width: 280px;
}

.slide-item-1 a {
    font-weight: 600;
}

.covid {
    display: block;
    color: black;
    font-size: 14px;
   padding: 8px 0 15px 50px;
}
.covid :hover {
    color: #06c;
}

.foob a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.foob p {
    padding: 20px 0;
    border-bottom: 1px solid gray ;
}

.item-con {
    padding: 10px 0 24px 0;
    border-bottom: 1px solid gray;
}

.item-con img {
    width: 110px;
    padding-right: 10px;
  
}

.item-con a {
    font-size: 14px; 
    font-weight: 600;  
}

/* end slide-item-1 */

.slide-item-2 {
    width: 540px;
    float: left;
    margin: 0 30px;
    display: inline-block;
}

.slide-item-2 .slide-item-a {
    color: black;
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
}

.slide-item-2 p {
    font-size: 18px;
    padding: 20px 0;
    border-bottom: 1px solid gray ;
}
.slide-item-2 .divL {
    margin-top: 24px;
    width: 255px;
    float: left;
}
.slide-item-2 .divR {  
    margin-top: 24px;
    margin-left: 30px;
    width: 255px;
    float: left;
}

.sub-slide-item-2 a {
    display: block;
    padding-top: 8px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}
/* end slide-item-2 */
.slide-item-3 {
    width: 320px;
    float: left;
    
}

.slide-item-3 .sub-slide-item-3 {
border-bottom:1px solid rgb(199, 196, 196);
}

.slide-item-3 a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 36px;

}

.slide-item-3 .DMagazine {
    color: green;
    font-variant:inherit;
    font-size: 18px;
    padding: 12px 0;
}

.slide-item-3 img {
    margin: 28px 0 0 24px;
}

.slide-item-img {
    width: 300px;
}
/* end slide */
#banner {
    text-align: center;
    border-bottom: 1px solid grey;
    
}
#banner img {
width: 1136px;
margin: 32px 0;
}
/* end banner */

#content {
    margin-top: 24px;
 
}

.content-L {
    width: 480px;
    float: left;
}
.content-L .sub-content {
    border-bottom: 1px solid rgb(202, 200, 200);
}

.content-L a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: block;
    font-weight: 600;
    padding-bottom: 8px;
}

.content-L img {
 padding: 0px 16px 16px 0;
}

.content-L p {
    font-size: 16px;
    padding-bottom: 42.4px;
}

.content-R {
    width: 700px;
    float: left;
    height: 1000px;
    margin-left: 20px;
    border-left: 1px solid rgb(202, 200, 200);
}

.content-R-section {
    margin-left: 24px;
}

.sub-content-R {
    list-style: none;
   
}

.sub-content-R li {
    display: inline-block;
}
.sub-content-R a {
    text-decoration: none;
    color: rgb(65, 63, 63);
    font-size: 16px;
    padding: 0 6px;
    font-weight: 600;
    margin-left: 16px;
}

#sub-content-R-item {
    text-decoration: none;
    color: green;
    font-size: 22px;
    padding-right: 8px;
    font-weight: 600;
}

.list-content-R {
    width: 400px;
}

.list-conten-item {
 margin-top: 12px;
 height: 110px;
}

.list-conten-item img {
    margin-right: 12px;
}
.list-conten-item a {
text-decoration: none;
color: black;
font-size: 16px;
font-weight: 600;
}
 
.link-list {
    width: 200px;
    float: left;
}