* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

#main {
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    border-bottom: 1px solid #e6e6e6;
    width: 1200px;
    margin: 0 auto;

}

.menu-all  li >  a {
text-decoration: none;
font-size: 12px;
color: black;
text-transform:uppercase;
    
}

.menu-all > li {
display: inline-block;
position: relative;
}

.menu-all > li > a {
    line-height: 32px;
    padding: 8px 3px;
}

.menu-all > li >a:hover {
border-bottom: 3px solid green;
}

.menu-list {
    
    display: none;
    position: absolute;
    margin-top: 2px;
}

.menu-list li {
    list-style: none;
    display: block; 
    min-width: 240px;
}

.menu-list a {
    line-height: 32px;
    display: block;
    padding-left: 12px;
}

.menu-list li a:hover {
    color: #06c;
}

.menu-all > li:hover .menu-list  {
    display: block;
    background: #e6e6e6 none; 
}

#slide {
    margin-top: 18px;
    float: left;
}

.slide-item-1 {
width: 280px;
float: left;
}

.slide-item-1 img{
    width: 280px;
}

.covid {
    display: block;
    color: black;
    font-size: 14px;
   padding: 8px 0 15px 50px;
}
.covid :hover {
    color: #06c;
}

.foob a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.foob p {
    padding: 20px 0;
    border-bottom: 1px solid gray ;
}

.slide-item-2 {
    width: 540px;
    float: left;
    margin: 0 30px;
}

.slide-item-2 a {
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.slide-item-2 p {
    padding: 20px 0;
    border-bottom: 1px solid gray ;
}
.slide-item-3 {
    width: 320px;
    float: left;
}